@import "@/app/Constants/colors.module";

.canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.innerCanvas {
  width: 10000px;
  height: 10000px;
  position: relative;
  background-color: $background !important;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}
