.loginRegisterSwitch {
  display: flex;
  flex-direction: row;
}

.switchDiv {
  width: 50%;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 2px solid #343335;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  user-select: none;

  line-height: 60px;
}

.selected {
  border-bottom: 2px solid #9E968E;
}
