@import "@/app/Constants/colors.module";

.sidebar {
  background-color: $sidebarBackground;
  width: 250px;
  height: 100%;
  border: 2px solid $trim;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
