@import "@/app/Constants/colors.module";

.sidebar {
  background-color: $sidebarBackground;
  width: 300px;
  height: 100%;
  border: 2px solid $trim;
  border-top: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}