.button {
  height: 33px;
  width: 33px;
  align-self: center;
  background-color: #343335;
  border: 0px;
  box-shadow: 2px 2px #464342;
  margin-right: 25px;
  color: #9e968e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px;
  user-select: none;
}

.button:hover {
  background-color: #464342;
  box-shadow: none;
}
