.button {
  height: 33px;
  background-color: #343335;
  border: 0px;
  box-shadow: 2px 2px #464342;
  margin-left: 3ch;
  color: #9e968e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.15s ease,
    color 0.2s;
  position: relative;
}

.button.centered {
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover:not(.disabled):not(.danger) {
  background-color: #464342;
  box-shadow: 3px 3px #9e968ea8;
  transform: translate(-1px, -1px);
}

.button.danger {
  background-color: #dc2626;
  border: 1px solid #ef4444;
  color: #ffb4b4;
  box-shadow: 2px 2px #883132;
  padding-left: 10px;
  padding-right: 10px;
}

.button.danger:hover:not(.disabled) {
  background-color: #e63232;
  box-shadow: 3px 3px #ffb4b486;
  transform: translate(-1px, -1px);
}

.button.disabled,
.button.danger.disabled {
  background-color: #2a292b;
  color: #6b6460;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.button.danger.disabled {
  background-color: #4a1515;
  color: #8b5f5f;
}
