.button {
  height: 33px;
  background-color: #343335;
  border: 0px;
  box-shadow: 2px 2px #464342;
  margin-left: 3ch;
  color: #9e968e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 15px;
  user-select: none;
  cursor: pointer;
}

.button.centered {
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #464342;
  box-shadow: none;
}
