@font-face {
  font-family: "Rainbow100";
  src: url("/font/Web437_Rainbow100_re_132.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: #d3dad9;
  font-family: "Rainbow100", sans-serif;
}
