@import "@/app/Constants/colors.module";

.textNode {
  width: 100%;
  height: 100%;
  background-color: $sidebarBackground;
  border: 1px solid #9e968e;
  text-align: center;
}

.title {
  color: #9E968E;
  font-size: small;
}

.seperator {
  width: 80%;
  height: 2px;
  background-color: #343335;
  border: none;
}

.text {
  font-size: xx-small;
}