@import "@/app/Constants/colors.module";

.hotBar {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Changed to stretch so child sections fill full height vertically */
  height: 60px;
  flex-shrink: 0;
  border: 2px solid $trim;
  background-color: $sidebarBackground;
  padding-left: 29px;
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.verticalDivider {
  width: 2px;
  height: 60%;
  background-color: #343335;
  margin-left: 82px;
  z-index: 1000;
}
