@import "@/app/Constants/colors.module";

.hotBar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  flex-shrink: 0;
  border: 2px solid $trim;
  background-color: $sidebarBackground;
  padding-left: 29px;
  user-select: none;
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.verticalDivider {
  width: 2px;
  height: 60%;
  background-color: #343335;
  margin-left: 82px;
  z-index: 1000;
}

.verticalDividerLast {
  width: 2px;
  height: 60%;
  background-color: #343335;
  z-index: 1000;
}

.titleWrapper {
  width: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 100;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}