@import "@/app/Constants/colors.module";

.hotBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  border: 2px solid $trim;
  background-color: $sidebarBackground;
  padding-left: 29px;
}

.verticalDivider {
  width: 2px;
  height: 60%;
  background-color: #343335;
  margin-left: 104px;
}