@import "@/app/Constants/colors.module";

.textNode {
  width: 100%;
  height: 100%;
  background-color: $sidebarBackground;
  border: 1px solid #9e968e;
  text-align: center;
}

.text {
  font-family: "Rainbow100", sans-serif;
  color: #9e968e;
  box-sizing: border-box;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  resize: none;
}

.text::-webkit-scrollbar {
  display: none;
}

.text:focus {
  outline: none;
  border: none;
}

.text::selection {
  color: #ffffff;
  background: #9e968e;
}
