@import "@/app/Constants/colors.module";

.folder {
  height: 30px;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
  text-align: left;
  padding-left: 40px;
  padding-right: 10px;
}

.folderText {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.folder:hover {
  background-color: $hover;
}

.selected {
  position: absolute;
  left: 0px;
  top: calc(50% - 7.5px);
  width: 2px;
  height: 15px;
  background-color: $selected;
}

.open {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}

.folderTextInput {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Rainbow100", sans-serif;
  color: #9e968e;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 100;
}

.folderTextInput:focus {
  outline: none;
  border: none;
}

.folderTextInput::selection {
  color: #ffffff;
  background: #9e968e;
}
