@import "@/app/Constants/colors.module";

.folder {
  background-color: $trim;
  height: 30px;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex: 1 1 auto; // Uncomment/add this to make the folder take up available space after spacer
  position: relative;
}

.folder:hover {
  background-color: $lightestTrim;
}

.selected {
  position: absolute;
  left: 0px;
  top: calc(50% - 7.5px);
  width: 2px;
  height: 15px;
  background-color: $highlight;
}

.open {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}