.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.innerWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.label {
  font-size: 14px;
  font-weight: 400;
  color: #9e968e;
  margin-bottom: 8px;
  text-align: left;
}

.input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  background-color: #121113;
  border: 1px solid #343335;
  border-radius: 4px;
  color: white;
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    border-color: #9e968e;
  }
}
