@import "@/app/Constants/colors.module";

.node {
  background-color: $trim;
  height: 30px;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex: 1 1 auto;
}

.node:hover {
  background-color: $lightestTrim;
}

.selected {
  position: absolute;
  left: calc(1% - 10px); // hardcoded for now
  width: 2px;
  height: 15px;
  align-self: center;
  background-color: $highlight;
}
