@import "@/app/Constants/colors.module";

.node {
  background-color: $button;
  height: 30px;
  border-radius: 4px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding-left: 40px;
}

.nodeText {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node:hover {
  background-color: $hover;
}

.selected {
  position: absolute;
  left: 0px;
  top: calc(50% - 7.5px);
  width: 2px;
  height: 15px;
  background-color: $selected;
}

.file {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}
